<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPage.cshtml")
<body id="page-top">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    @Html.Partial("NavPage.cshtml")
    @Html.Partial("FooterPage.cshtml")
</body>
</html>
