<!DOCTYPE html>
<html lang="en">

@Html.Partial("HeadPage.cshtml")
<body id="page-top">
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- About Section-->
    <section class="page-section bg-secondary text-white mb-0" id="about">
        <div class="container">
            <br />
            <br />
            <br />
            <!-- About Section Heading-->
            <h2 class="page-section-heading text-center text-uppercase text-white">About</h2>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row-cols-xl-1">
                <div class="container d-flex align-items-center flex-column">
                    <img class="masthead-avatar" src="assets/img/avataaars.svg" style="width:250px; height:250px;" />
                </div>
            </div>
            <br />
            <br />
            <div class="row-cols-xl-1">
                <p class="text-center text-uppercase">
                    C C++ C#
                    <br />
                    Programmer
                </p>
            </div>
            <br />
        </div>
    </section>
    @Html.Partial("NavPage.cshtml")
    @Html.Partial("FooterPage.cshtml")
</body>
</html>
